
.App {
  text-align: center;
  background-color: rgb(216, 216, 216);
}

.matchAndChamp {
  display: flex;
  height: 67vh;
}

.temp {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}


